<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Ficha de Inscripción Colegio Andes Chile 2025</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      .body {
          display: flex;
          flex-direction: column;
      }

      .content {
        flex: 1; 
        padding: 20px;
      }

      .text-center {
        text-align: center;
      }

      .tabla {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 10px;
      }

      .tabla td, .tabla th {
        border: 1px solid black;
        padding: 3px;
        font-size: small;
      }

      .tabla th {
        background-color: #f2f2f2;
      }

      .separacion {
        overflow: auto;
        margin-bottom: 20px;
      }

      .tabla2 {
        border-collapse: collapse;
        width: 48%;
        margin: 1%;
        float: left;
      }

      .tabla2 th {
        background-color: #f2f2f2;
      }

      .justificar {
        text-align: justify;
        font-size: small;
      }
      .timbre{
        width: 10%;
      }

      .signature-block {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      position: relative; /* Para posicionar el logo sobre la línea */
      }

      .block {
        text-align: center;
        position: relative; /* Para que el logo se posicione en relación a este bloque */
      }

      .block img {
        width: 100px;
        position: absolute;
        left: 50%;
        transform: translateX(-10%) translateY(-40%);
      }

      .block p {
        margin: 5px 0;
      }

      .line {
        border-bottom: 1px solid black;
        width: 250px; /* Ajusta el ancho de la línea */
        margin: 0 auto;
        padding-top: 10px; /* Espacio entre la línea y el contenido superior */
      }

      @media print {
       .contenidoCabeza {
          top: 0;
          width: 100%;
          position: fixed;
        }

        .cabeza {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: bolder;
        }

        .cabeza img {
            max-width: 5%;
            margin-right: 50px;
            height: auto;
        }

        .content {
          margin-top: 50px;
        }

        .pies {
          position: fixed;
          bottom: 0;
          width: 100%;
          font-size: xx-small;
          font-weight: bolder;
          text-align: center;
        }

        {{!-- table, tr, td, th {
          page-break-inside: avoid;
        } --}}

        .page-break {
          page-break-after: always;
        }
      }
    </style>
  </head>
  <body>
      <div class="contenidoCabeza">
          <div class='cabeza'>
            <p>Educando con Amor</p>
            <img
              class='logo'
              src='https://www.colegioandeschile.cl/img/LOGO.png'
              alt='Andes Chile Colegio'
            />
          </div>
        <hr />
      </div>

    <div class='content'>
      <h3 class='text-center'>Ficha de Inscripción Colegio Andes Chile 2025</h3>
      <br />

      <div class='separacion'>
        <table class='tabla2'>
          <tr>
            <th>Curso:</th>
          </tr>
          {{#each estudiantes}}
            <tr>
              <td class='text-center'>{{cursoId}}</td>
            </tr>
          {{/each}}
        </table>
        <table class='tabla2'>
          <tr>
            <th>Fecha Ingreso:</th>
          </tr>
          <tr>
            <td class='text-center'><span id="current-date0"></span></td>
          </tr>
        </table>
      </div>

      <table class='tabla'>
        <tr>
          <th colspan='2'>IDENTIFICACIÓN DEL ESTUDIANTE</th>
        </tr>
        <tr>
          <td style='width: 30%;'><b>Nombre Completo</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Rut</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Fecha de Nacimiento</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Género</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Nacionalidad</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Edad al 31 de Marzo</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Dirección</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Comuna</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Contacto de Emergencia</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Teléfono de Contacto</b></td>
          <td></td>
        </tr>
      </table>

      <table class='tabla'>
        <tr>
          <th colspan='2'>FICHA DE SALUD DEL ESTUDIANTE</th>
        </tr>
        <tr>
          <td style='width: 30%;'><b>Enfermedad Crónica</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Alergia a Alimentos</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Alergia a Medicamentos</b></td>
          <td></td>
        </tr>
      </table>

      <table class='tabla'>
        <tr>
          <th colspan='2'>IDENTIFICACIÓN DEL APODERADO</th>
        </tr>
        <tr>
          <td style='width: 30%;'><b>Nombre Completo</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Rut</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Parentesco</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Estado Civil</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Profesión u Oficio</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Dirección</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Comuna</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Teléfono de Contacto</b></td>
          <td></td>
        </tr>
      </table>

      <div class="page-break" > </div> 
      <br>
      <table class='tabla' style="margin-top: 60px;">
        <tr>
          <th colspan='2'>IDENTIFICACIÓN DEL APODERADO SUPLENTE</th>
        </tr>
        <tr>
          <td style='width: 30%;'><b>Nombre Completo</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Rut</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Parentesco</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Estado Civil</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Profesión u Oficio</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Dirección</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Comuna</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Teléfono de Contacto</b></td>
          <td></td>
        </tr>
      </table>

<hr>
<br>
      <table class='tabla' style="width: 50%;">
        <tr>
          <th colspan='2'>DOCUMENTOS PRESENTADOS</th>
        </tr>
        <tr>
          <td style='width: 80%;'><b>Certificados de Nacimiento</b></td>
          <td style='width: 20%;'></td>
        </tr>
        <tr>
          <td><b>Certificado de Notas</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Informe Personalidad</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Comprobante de Domicilio</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Fotocopia Cedula Identidad Apoderado</b></td>
          <td></td>
        </tr>
      </table>

      <table class='tabla' style="margin-top: 20px;">
        <tr>
          <th colspan='3'>AUTORIZACIONES</th>
        </tr>
        <tr>
          <th colspan='1' style="text-align: start;">1.</th>
          <th colspan='1'>Si</th>
          <th colspan='1'>No</th>
        </tr>
        <tr>
          <td style='width: 80%;'><b>Manifiesto mi voluntad de solicitar la eximición de mi pupilo de la asignatura de Religión</b></td>
          <td style='width: 10%;'></td>
          <td style='width: 10%;'></td>
        </tr>
        <tr>
          <th colspan='1' style="text-align: start;">2.</th>
          <th colspan='1'>Si</th>
          <th colspan='1'>No</th>
        </tr>
        <tr>
          <td style='width: 80%;'><b>Autorizo a que fotografíen o graben a mi hijo(a) en actividades del colegio</b></td>
          <td style='width: 10%;'></td>
          <td style='width: 10%;'></td>
        </tr>
        <tr>
          <th colspan='1' style="text-align: start;">3.</th>
          <th colspan='1'>Si</th>
          <th colspan='1'>No</th>
        </tr>
        <tr>
          <td style='width: 80%;'><b>El alumno es apto para realizar educación física.</b></td>
          <td style='width: 10%;'></td>
          <td style='width: 10%;'></td>
        </tr>
      </table>

      <div class="text-center" style="padding-top: 20px;">
        <h4>__________________________________</h4>
        <h4>Firma Apoderado:</h4>
      </div>
      <div class="text-center" style="padding-top: 15px;">
        <h4>__________________________________</h4>
        <h4>Nombre Encargada/o Matricula:</h4>
      </div>

      <div class="page-break" > </div> 
      <br>

      <h3 class='text-center' style="margin-top: 60px;">CONTRATO DE PRESTACIÓN DE SERVICIOS EDUCACIONALES</h3>
      <p style="font-size: small;">En Los Andes a: <span id="current-date"></span> por una parte, don (doña)</p>
      <table class='tabla'>
        <tr>
          <td style='width: 30%;'><b>Nombre Completo</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Rut</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Parentesco</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Estado Civil</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Profesión u Oficio</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Dirección</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Comuna</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Teléfono de Contacto</b></td>
          <td></td>
        </tr>
      </table>
      <p class="justificar">en adelante <b>“el requirente de los servicios”</b>, <b>“el requirente”</b> o <b>“el apoderado”</b>, y por la otra, la <b>Sociedad Educacional Colegio Andes Chile</b>, RUT 77.625.500-9, debidamente representada, por don Alfredo Agustín Gallegos Ávila, RUT 10.352.842-9, ambos con domicilio en calle Manuel Rodríguez Nº 1064, Comuna de Los Andes, en adelante <b>“el Prestador de los servicios”</b> o <b>“el prestador”</b>, se ha convenido el siguiente contrato de prestaciones de Servicios:</p>
      <p class="justificar"><b>PRIMERO:</b> El prestador tiene la calidad de sostenedor, único titular y director del establecimiento educacional denominado Colegio particular Andes- Chile, en los niveles de educación Pre – Básica y Básica, con domicilio en calle Manuel Rodríguez Nº 1064, comuna y Provincia de Los Andes, establecimiento reconocido por el Ministerio de Educación del Estado de Chile, de conformidad a la legislación vigente.</p>
      <p class="justificar"><b>SEGUNDO:</b> Por el presente instrumento, el requirente o apoderado, don(ña): <span style="color: red;">¿???</span> ya individualizada, requiere los servicios educacionales que brinda el prestador, mediante “Colegio Andes Chile”, requerimiento que por este acto es aceptado expresamente por don Alfredo Agustín Gallegos Ávila, en virtud de la representación que inviste, y se obliga a proveer los siguientes servicios. </p>
      <p class="justificar"><b>TERCERO:</b> Los Servicios contratados se prestarán en relación con la matrícula e incorporación al “Colegio Andes Chile” del alumno (a): </p>
      <table class='tabla'>
        <tr>
          <td style='width: 30%;'><b>Nombre Completo</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Rut</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Curso</b></td>
          <td></td>
        </tr>
      </table>
      <p class="justificar"><b>En el año o período lectivo correspondiente desde marzo a diciembre del año lectivo correspondiente, y de conformidad con los programas o planes de estudios aprobados por el Ministerio de Educación del Estado de Chile, ya sea mediante talleres, clases presenciales, semipresenciales o cualquier método o régimen a distancia, según corresponda.</b></p>

      <div class="page-break" > </div> 
      <br>

      <p class="justificar" style="margin-top: 60px;"><b>CUARTO:</b> Valores del contrato. El arancel anual estará compuesto por los siguientes conceptos y sumas:</p>
      <p class="justificar" style="margin-left: 50px"><b>A. Derecho de escolaridad:</b> La administración del Colegio Andes Chile ha establecido una colegiatura anual de $ 2.250.000.- para el período escolar 2025, pagaderos en 10 cuotas mensuales e iguales, equivalente a $ 225.000 cada una, desde marzo a diciembre de 2025.-</p>
      <p class="justificar" style="margin-left: 50px"><b>B.</b> La administración del colegio andes chile ha establecido los pagos de mensualidades para los días 01 de cada mes o primer día hábil bancario inmediatamente siguiente.</p>

      <p class="justificar" style="margin-top: 20px;"><b>QUINTO:</b> Son obligaciones contractuales del prestador o institución educadora:</p>
      <p class="justificar" style="margin-left: 50px"><b>A.</b> Incorporar al Alumno en el desarrollo de los contenidos programáticos, del plan de estudios aprobados por el Ministerio de Educación del Estado de Chile para el respectivo grado o curso, ya sea mediante talleres, clases presenciales, semipresenciales o cualquier método o régimen a distancia.</p>
      <p class="justificar" style="margin-left: 50px"><b>B.</b> Difundir el reglamento de convivencia escolar del colegio o una síntesis de éste y tomar las medidas respectivas para su cabal cumplimiento. Para tal efecto existirá permanentemente una copia del mismo a disposición de los padres y apoderados en la dirección general del establecimiento y en la página web del colegio, www.colegioandeschile.cl</p>
      <p class="justificar" style="margin-left: 50px"><b>C.</b> Aplicar y ejecutar planes de contingencia, de emergencia y adoptar las medidas de seguridad y control de accidentes.</p>
      <p class="justificar" style="margin-left: 50px"><b>D.</b> Efectuar planes sanitarios para los alumnos y dependencias del colegio y otorgar todas las facilidades para que organismos públicos ejecuten planes que involucren a los alumnos.</p>
      <p class="justificar" style="margin-left: 50px"><b>E.</b> Otorgar y mantener la infraestructura necesaria para el desarrollo personal y educacional que se imparte.</p>
      <p class="justificar" style="margin-left: 50px"><b>F.</b> Contar con el personal docente, asistentes de la educación y administrativo idóneo, exigiendo respecto de ellos la conducta moral compatible con los principios del establecimiento, velando por la capacitación oportuna de cada uno de ellos y la verificación constante de sus antecedentes.</p>
      
      <p class="justificar" style="margin-top: 20px;"><b>SEXTO:</b> Son obligaciones contractuales del requirente de los servicios:</p>
      <p class="justificar" style="margin-left: 50px"><b>A.</b> Participar en las actividades cívicas y extra programáticas que el establecimiento determine en calidad de apoderado del alumno con matrícula vigente, tales como, bingos, día de la chilenidad, gala de pre básica, etc., entre otras.</p>
      <p class="justificar" style="margin-left: 50px"><b>B.</b> Conocer y aplicar el reglamento de convivencia escolar del establecimiento, los principios morales que sirven de directrices de la educación impartida en el colegio y las normas disciplinarias sobre conducta, rendimiento y presentación personal del alumno.</p>
      <p class="justificar" style="margin-left: 50px"><b>C.</b> Asistir a reuniones o actividades generales del Centro General de Padres y Apoderados y de Sub-Centro, cada vez que se les notifique. Al efecto el apoderado titular se obliga a concurrir a lo menos el 80% y un 20% para el apoderado suplente, de las asambleas o reuniones. Se obliga igualmente a concurrir a las citaciones personales que le sean remitidas por el inspector general o docente superior.</p>
      <p class="justificar" style="margin-left: 50px"><b>D.</b> Prestar colaboración en las labores educativas que programe y desarrolle el colegio en beneficio del alumno.</p>
      <div class="page-break" > </div> 
      <br>
      <p class="justificar" style="margin-top: 60px;  margin-left: 50px"><b>E.</b> Colaborar con el colegio a través de las actividades que programe el centro general de padres y apoderados o directiva de su curso.</p>
      <p class="justificar" style="margin-left: 50px"><b>F.</b> Dar a conocer y requerir del alumno el cumplimiento de las obligaciones escolares y de las normas disciplinarias y reglamentarias del establecimiento.</p>
      <p class="justificar" style="margin-left: 50px"><b>G.</b> Pagar en forma oportuna las cuotas de escolaridad que fije el establecimiento para el nivel y grado que corresponda al alumno.</p>
      <p class="justificar" style="margin-left: 50px"><b>H.</b> Solucionar posibles problemas, conflictos disciplinarios o formativos a través de las instancias que el colegio disponga y en ningún caso enfrentar a otro alumno o apoderado por iniciativa propia.</p>
      
      <p class="justificar" style="margin-top: 10px;"><b>SEPTIMO:</b> Son obligaciones del alumno matriculado, las cuales acepta por intermedio del requirente de los servicios:</p>
      <p class="justificar" style="margin-left: 50px"><b>A.</b> Asistir regularmente a clases, sean éstas presenciales, semipresenciales o mediante cualquier método o régimen a distancia, como también a los talleres y demás actividades dispuestas y planificadas por el establecimiento.</p>
      <p class="justificar" style="margin-left: 50px"><b>B.</b> Estudiar, internalizar y aprobar los contenidos programáticos tratados en las diferentes asignaturas, según las exigencias explicadas en el reglamento de evaluación vigente. Al efecto, el establecimiento dará a conocer al alumno, dentro del período lectivo vigente, los rendimientos mínimos exigidos, para la renovación de matrículas en el período siguiente:</p>
      <p class="justificar" style="margin-left: 50px"><b>C.</b> Conocer y aplicar las normas del reglamento de evaluación vigente y las normas del reglamento de convivencia escolar de funcionamiento, en los artículos de sus competencias.</p>
      <p class="justificar" style="margin-left: 50px"><b>D.</b> Mantener un comportamiento, rendimiento y presentación acorde a las exigencias, principios y postulados del colegio.</p>
      
      <p class="justificar" style="margin-top: 10px;"><b>OCTAVO:</b> Es facultad del establecimiento educacional la aceptación del alumno en el periodo lectivo siguiente. Para tal aceptación se ponderan los antecedentes de comportamiento y disciplina escolar del alumno, establecidos en el reglamento de convivencia escolar del establecimiento, como, asimismo, el cumplimiento de las obligaciones por parte de requirente de los servicios. </p>
      <p class="justificar" style="margin-top: 10px;"><b>NOVENO:</b> En caso de deserción o renuncia del estudiante, sea esta en cualquier mes del año respectivo, los contratantes acuerdan de consuno que la Sociedad Educacional Colegio Andes Chile. no restituirá los pagos efectuados por parte del apoderado o requirente de los servicios, a título de indemnización compensatoria anticipada y mutuamente convenida, ya sea por concepto de matrículas o mensualidades; a fin de indemnizar al prestador por los costos y gastos incurridos por el cupo ocupado por el estudiante y que dependiendo de la época del año en que se produzca la referida deserción o renuncia, es altamente probable que no podrá matricular a otro estudiante en su lugar.</p>
      <p class="justificar" style="margin-top: 10px;"><b>DECIMO:</b> Para todos los efectos legales derivados de este contrato, las partes fijan domicilio en la ciudad de Los Andes, sometiéndose desde ya a la jurisdicción de sus tribunales de justicia.</p>

      <div class="signature-block">
        <!-- Bloque para Sociedad Educacional -->
        <div class="block">
          <img class="timbre" src="https://www.colegioandeschile.cl/img/timbre.png" alt="Andes Chile Colegio"/>
          <div class="line"></div>
          <p>Sociedad Educacional Colegio Andes Chile</p>
        </div>
        
        <!-- Bloque para Apoderado o Requirente -->
        <div class="block">
          <div class="line"></div>
          <p>Apoderado o Requirente</p>
        </div>
      </div>

      <div class="page-break" > </div> 
      <br>

      <h3 class='text-center' style="margin-top: 60px;">PAGARÉ</h3>
      <p style="font-size: small;">En <b>Los Andes</b>, República de Chile a, <span id="current-date2"></span> </p>
      <table class='tabla'>
        <tr>
          <td style='width: 30%;'><b>Yo</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Cédula Nacional de Identidad y Rut N°</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Profesión u Oficio</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Dirección</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Comuna</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Teléfono de Contacto</b></td>
          <td></td>
        </tr>
      </table>
      <p class="justificar" style="margin-top: 10px;"><b>Debo</b> y pagaré incondicionalmente a la orden de Sociedad Educacional Colegio Andes Chile, Rut 77.625.500-9 o a quien sus derechos representen, la suma de $2.250.000, en moneda chilena, que adeudo en las siguientes condiciones que acepto y cumpliré:</p>
      <p class="justificar" style="margin-top: 10px;"><b>PRIMERO:</b> Forma de pago de capital: El capital se pagará en 10 cuotas mensuales, sucesivas e iguales de $ 225.000.- (dos ciento veinticinco mil pesos) c/u en el período comprendido desde el 01 de marzo de 2025, por concepto de arancel correspondiente al programa de estudio denominado año escolar a dictarse a partir de MARZO a DICIEMBRE, mediante clases presenciales, semipresenciales o a distancia, venciendo la primera de ellas el 01 de marzo de 2025 y la última, el 01 de diciembre de 2025.</p>
      <p class="justificar" style="margin-top: 10px;"><b>SEGUNDO:</b> Intereses por retardo y aceleración: En caso de mora o simple retardo en una de cualquiera de las cuotas pactadas, se devengará el máximo interés convencional para operaciones no reajustables vigente a la fecha de la inscripción o a las épocas de la mora o retardo a elección del acreedor, esto es, en caso de mora o simple retardo en el pago de una de las cuotas o del capital, este pagaré devengará, por todo el lapso que dure la mora o retardo, el interés máximo convencional que la ley permita estipular para operaciones de crédito de dinero en moneda nacional no reajustables, según el plazo de la presente obligación vigente durante la mora, pero sólo si estos fueren superiores al interés máximo convencional vigente a esta fecha. En el evento contrario, se aplicará esta última tasa. Iguales intereses se devengarán en caso de aceleración;</p>
      <p class="justificar" style="margin-top: 10px;"><b>TERCERO:</b> Cláusula de aceleración. En caso de mora o simple retardo de una o cualquiera de las cuotas antes indicadas, faculta a la Sociedad Educacional Colegio Andes Chile. para hacer exigible el total de lo adeudado, considerándose toda la obligación como de plazo vencido y devengándose en ese caso como interés moratorio el interés máximo convencional para operaciones no reajustables vigente a la fecha de la inscripción o a las épocas de la mora o retardo a elección del acreedor;</p>
      <p class="justificar" style="margin-top: 10px;"><b>CUARTO:</b> Días inhábiles, prórroga de pago: Cualquiera fecha para el pago de capital y/o de intereses que corresponda a día inhábil bancario se prorrogará hasta el día hábil bancario inmediatamente siguiente, debiendo el respectivo pago incluir, además, los intereses que correspondan a los días comprendidos en esa prórroga;</p>
      <p class="justificar" style="margin-top: 10px;"><b>QUINTO:</b> Indivisibilidad: Todas las obligaciones derivadas de este pagaré se considerarán indivisibles para el suscriptor, sus herederos y/o sucesores, para todos los efectos legales y en especial aquellos contemplados en los Artículos 1526 N°4 y 1528 del Código Civil;</p>
      <p class="justificar" style="margin-top: 10px;"><b>SEXTO:</b> Protesto: Sin obligación de protesto. Libero al acreedor de la obligación de protesto, pero si él optare por la realización de dicha diligencia, podrá hacerla, a su libre elección, en forma bancaria, notarial o por el funcionario público que corresponda. En todo caso, en el evento de protesto me obligo a pagar los gastos e impuestos que se devenguen;</p>
      
      <div class="page-break" > </div> 
      <br>
      
      <p class="justificar" style="margin-top: 60px;"><b>SÉPTIMO:</b> Autorizo a Sociedad Educacional Colegio Andes Chile.RUT, 77.625.500-9  para que en caso de simple retardo, mora o incumplimiento de las obligaciones contraídas en este pagaré, mis datos y los demás derivados de este pagaré, puedan ser tratados y/o comunicados a terceros sin restricciones, en el registro o banco de datos SICOM (Sistema de Morosidades y Protestos DICOM) Esta autorización es permanente, pudiendo ser revocada sin efecto retroactivo y con fecha no anterior al último documento de pago emitido a mi nombre.</p>
      <p class="justificar" style="margin-top: 10px;"><b>OCTAVO:</b> El suscriptor viene a otorgar mandato especial pero tan amplio como en derecho se requiere a la Sociedad Educacional Colegio Andes Chile, a fin de que éste, en caso de presentarse la situación de mora expresada precedentemente, proceda a informar dicho incumplimiento a un banco de datos para su tratamiento y transmisión de conformidad a la ley Nº 19.628;</p>
      <p class="justificar" style="margin-top: 10px;"><b>NOVENO:</b> Los derechos que para la Sociedad Educacional Colegio Andes Chile emanan del presente Pagaré., podrán ser transferidos o cedidos por éste a cualquier persona natural o jurídica, en cuyo caso gozará de todos los derechos, privilegios y garantías del cedente, subsistiendo íntegramente los derechos y obligaciones del suscriptor;</p>
      <p class="justificar" style="margin-top: 10px;"><b>DÉCIMO:</b> Impuestos, Derechos y Gastos: Cualquier impuesto, derecho, gasto e incremento en los costos que para el beneficiario de este pagaré se ocasionen o devenguen con motivo de su suscripción, modificaciones, prórrogas, renovaciones, pagos, protesto u otras circunstancias relativas a aquel, será de cargo exclusivo del suscriptor.</p>
      <p class="justificar" style="margin-top: 10px;"><b>DÉCIMO PRIMERO:</b> Garantías: Sociedad Educacional Colegio Andes Chile, y quien sus derechos represente, queda desde luego autorizada para modificar, sustituir, alzar o renunciar, en todo o parte, las garantías que actualmente estén constituidas o que en el futuro se constituyan para caucionar las obligaciones a que se refiere el presente pagaré, ninguna de las cuales se entenderá transferida a quien adquiera este pagaré a menos que la Sociedad Educacional Colegio Andes Chile lo declare expresamente; </p>
      <p class="justificar" style="margin-top: 10px;"><b>DÉCIMO SEGUNDO:</b> Domicilio y Competencia: Para todos los efectos legales derivados del presente pagaré, el deudor o suscriptor constituye domicilio especial en la comuna señalada en el encabezamiento de este pagaré y se someterá a la competencia de sus tribunales de justicia, domicilio que también será lugar hábil para las diligencias de protesto en caso de practicarse.</p>

      <div class="text-center" style="padding-top: 25px;">
        <h4>______________________________________________</h4>
        <h4>Firma del Suscriptor o Deudor y Huella Dactilar</h4>
      </div>

      <div class="page-break" > </div> 
      <br>

      <h3 class='text-center' style="margin-top: 60px;">PARA USO EN NOTARIA</h3>
      <table class='tabla'>
        <tr>
          <td style='width: 30%;'><b>Nombre y Apellidos del Deudor</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Cédula Nacional de Identidad y Rut N°</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Dirección</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Comuna</b></td>
          <td></td>
        </tr>
      </table>
      <p class="justificar" style="margin-top: 10px;">Pagó el impuesto por la cantidad de ……………..(……………..) en ………….. con fecha ………….., según declaración y pago de impuesto Timbres y Estampillas D.L.3.475 Formulario N°…..Folio ………………Los Andes.</p>

      <div class="page-break" > </div> 
      <br>

      <h3 class='text-center' style="margin-top: 60px;">COMPROMISO EDUCACIÓN FISICA 2025</h3>
      <p class="justificar" style="margin-top: 10px;"><b>Señor (a) Apoderado (a)</b></p>
      <p class="justificar" style="margin-top: 10px;">Nuestro colegio, con el fin de optimizar el desarrollo de la asignatura de Educación Física y proteger la integridad de los alumnos y alumnas, solicita su compromiso en torno a confirmar que su hijo (a) está totalmente apto para realizar ejercicio físico y no presenta ninguna indicación médica que le impida el normal desarrollo de esta actividad, vital para su desarrollo integral. </p>
      <p class="justificar" style="margin-top: 10px;">De esta forma le solicitamos presentar antes del 31 de marzo de 2025, y en caso de que sea necesario, la documentación, licencia o recomendación médica que indique que su hijo (a) no puede realizar actividad física. De no contar con esta documentación el colegio entiende que el alumno (a) está plenamente capacitado y en forma para enfrentar las exigencias de Educación Física y que los padres se hacen responsables de la salud de su hijo (a). </p>
      
      <div class='separacion'>
        <table class='tabla2'>
          <tr>
            <th>Curso:</th>
          </tr>
          <tr>
            <td class='text-center'>5°to Básico</td>
          </tr>
        </table>
        <table class='tabla2'>
          <tr>
            <th>Fecha Ingreso:</th>
          </tr>
          <tr>
            <td class='text-center'><span id="current-date3"></span></td> {{!-- <span id="current-date"></span> --}}
          </tr>
        </table>
      </div>

      <table class='tabla'>
        <tr>
          <td style='width: 30%;'><b>Nombre Alumno</b></td>
          <td style='width: 70%;'></td>
        </tr>
        <tr>
          <td><b>Nombre Apoderado</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Rut Apoderado</b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Teléfono</b></td>
          <td></td>
        </tr>
      </table>

      <div class="text-center" style="padding-top: 25px;">
        <h4>______________________________________________</h4>
        <h4>Firma Apoderado</h4>
      </div>
      {{!-- FIN --}}
    </div>

    <div class='pies'>
      <hr />
      <p>Rodríguez 1064. Los Andes. Tel.: 342402858. Mail:colegioandeschile@gmail.com</p>
      <p>www.colegioandeschile.cl</p>
    </div>
  </body>

  <script>
    // Obtener la fecha actual
    const today = new Date();
    const formattedDate = today.toLocaleDateString('es-ES', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric'
    });
    document.getElementById('current-date0').textContent = formattedDate;
    document.getElementById('current-date').textContent = formattedDate;
    document.getElementById('current-date2').textContent = formattedDate;
    document.getElementById('current-date3').textContent = formattedDate;
  </script>
</html>